h2
	display inline-block
	border-bottom 2px solid #CCC
	padding 16px 48px 8px 32px
	letter-spacing 0.1em

h3
	display inline-block
	border-bottom 2px solid #DDD
	font-weight normal
	font-size 16px
	padding-left 32px
	padding-right 8px

.placeholder
	padding-left 48px

ul > li > ul > li
	margin-bottom 20px