html, body, ul
	margin 0
	padding 0
	font-size 12px
	font-family Verdana, Arial, Helvetica, sans-serif

#placeholder
	padding 22px

#results
	position fixed
	width 200px
	right 0
	bottom 0
	top 0
	background darkblue
	color white
	overflow-y scroll