ul
	li
		h2 Autosuggest
		ul
			li
				h3 Default
				.autosuggest-placeholder.placeholder
			li
				h3 Advanced
				.advanced-autosuggest-placeholder.placeholder
			li
				h3 Advanced 2
				.advanced2-autosuggest-placeholder.placeholder
	li
		h2 Editable list
		ul
			li
				h3 Default
				.editablelist-placeholder.placeholder
			li
				h3 Advanced
				.advanced-editablelist-placeholder.placeholder
	li
		h2 Combolist
		ul
			li
				h3 Default
				.combolist-placeholder.placeholder
			li
				h3 Advanced
				.advanced-combolist-placeholder.placeholder

.response
	pre