doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title faceted-search
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		link(rel="stylesheet", type="text/css", href="/lib/faceted-search/dev/css/main.css")
		script(data-main="/js/main", src="/lib/requirejs/require.js")
	body
		header
		.body
		footer &copy; 2013
