doctype
html(lang="en")
	head
		meta(charset="utf-8")
		title faceted-search
		link(rel="stylesheet", type="text/css", href="/css/main.css")
		//- link(rel="stylesheet", type="text/css", href="/lib/faceted-search/compiled/css/main.css")
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel="stylesheet")
		script(data-main="/js/main", src="/lib/requirejs/require.js")
	body
		header
		#main
		footer &copy; 2013
